@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
    background-color: rgb(245, 245, 245);
    font-family: 'Open Sans', sans-serif;
    height: 100%
}

.task_manager{
    margin-top: 2%;
    /*background-color: white;*/
}
.task_manager h1{
    padding-bottom: 4%;
}
.my_button{
    width: 100%
}