@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

body{
    background-color: rgb(20, 20, 20);
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    color: white;
}


.task_manager{
    margin-top: 2%;
    color: white;
}
.task_manager h1{
    text-align: center;
    color: whitesmoke;
    font-size: 500%;
    font-family: 'Josefin Sans', sans-serif;
}
.my_button{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    font-weight: bold;
    width: 100%;
    margin-bottom: 3px;
}
