{% extends "bootstrap/base.html" %}

{% block title %}Tasks{% endblock %}
{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}



{% block body %}
    <h1>Add a task</h1>

    <form action="/add_task_to_db" method="post">
        <textarea name="task_text" class="form-control" rows="2" placeholder="Max 200 characters"></textarea>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
{% endblock %}