{% extends "layout.html" %}

{% block body %}
    <div class="container">
        <h1>Edit task #{{ task.id }}</h1>

        <form action="{{url_for('edit_task')}}" method="post">
            <div class="form-group">
                <input type="hidden" name="task_id" value="{{ task.id }}">
                <textarea name="task_text" class="form-control" rows="2" autofocus required>{{ task.text }}</textarea>
            </div>

            <div class="form-group">
                <label class="control-label">Deadline</label>
                <div class='input-group date' id='datetimepicker1'>
                     <input name="deadline" value="{{task.deadline}}" type='text' class="form-control" />
                     <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                     </span>
                </div>
            </div>

            <button type="submit" class="btn btn-primary my_button">Edit</button>
        </form>
    </div>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: "dddd HHumm, D MMMM YYYY"
            });
        });
    </script>
{% endblock %}