{% extends "layout.html" %}

{% block body %}
    <div class="task_manager container">
        <div class="row no-gutters">
            <div class="col">
                <a href="/"><img src="{{ url_for('static', filename='img/todo-platform-logo.png') }}" alt="ToDo Platform"></a>
            </div>
        </div>

        <div class="row text-center">
            <div class="col">
                <a class="btn btn-primary my_button" href="/add_form">Add new task</a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <!-- Table with tasks -->
                    <table class="table">
                        <thead>
                            <!-- Uncompleted tasks -->
                            <tr class="info">
                                <th>#</th>
                                <th>Uncompleted task</th>
                                <th>Date created</th>
                                <th>Deadline</th>
                                <th class="text-center">Edit</th>
                                <th class="text-center">Delete</th>
                                <th class="text-center">State</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in todo_tasks %}
                            <tr>
                                <td>{{task.id}}</td>
                                <td>{{task.text}}</td>
                                <td>{{task.date_created}}</td>
                                <td>{{task.deadline}}</td>
                                <td class="text-center"><a href="/edit_form?id={{task.id}}" id="edit_{{task.id}}"><i class="far fa-edit fa-2x"></i></a></td>
                                <td class="text-center"><a href="/delete_task?id={{task.id}}" id="del_{{task.id}}"><i class="far fa-trash-alt fa-2x"></i></a></td>
                                <td class="text-center"><a href="/toggle_state?id={{task.id}}" id="state_{{task.id}}"><i class="far fa-square fa-2x"></i></a></td>
                            </tr>
                            {% endfor %}

                            <!-- Completed tasks -->
                            <tr class="success">
                                <th>#</th>
                                <th>Completed task</th>
                                <th>Date created</th>
                                <th>Deadline</th>
                                <th class="text-center">Edit</th>
                                <th class="text-center">Delete</th>
                                <th class="text-center">State</th>
                            </tr>
                            {% for task in completed_tasks %}
                            <tr>
                                <td>{{task.id}}</td>
                                <td>{{task.text}}</td>
                                <td>{{task.date_created}}</td>
                                <td>{{task.deadline}}</td>
                                <td class="text-center"><a href="/edit_form?id={{task.id}}" id="edit_{{task.id}}"><i class="far fa-edit fa-2x"></i></a></td>
                                <td class="text-center"><a href="/delete_task?id={{task.id}}" id="del_{{task.id}}"><i class="far fa-trash-alt fa-2x"></i></a></td>
                                <td class="text-center"><a href="/toggle_state?id={{task.id}}" id="status_{{task.id}}"><i class="far fa-check-square fa-2x"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}