{% extends "layout.html" %}

{% block title %}Nick's portfolio{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}
<body>
    <div class="container">
    <h1 class="text-center mb-3 font-weight-normal">Log In</h1>

    <!-- error message block -->
    <div>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <!-- error message block end -->

    <form action="/login" method="post" class="form-login" novalidate>
        {{ form.hidden_tag() }}
        <p>

            {{ form.username(class="form-control", autocomplete="off", placeholder="Username") }}
            {% for error in form.username.errors %}
                <small><span style="color: red;">The username field is required.</span></small>
            {% endfor %}
        </p>
        <p>
            {{ form.password(class="form-control", autocomplete="off", placeholder="Password") }}
            {% for error in form.password.errors %}
                <small><span style="color: red;">The password field is required.</span></small>
            {% endfor %}
        </p>

        <p>{{ form.submit(class="btn btn-primary btn-lg btn-block") }}</p>
    </form>
    </div>

</body>
{% endblock %}